* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0e8e2;
}

nav {
    position: fixed;
    display: inline;
   background-color: white;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   font-size: 25px;
  }
  .ul_1 {
    list-style-type: none;
    text-decoration: none;
  }
  .li_1 {
    display: inline;
  }
  .nav__link {
    margin-right: 20px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #2A3F3F;
    padding: 10px;
    justify-content: end;
  }
  .nav__link:hover {
    text-decoration: underline;
  }
  .nav__logo {
    position: relative;
   width: 200px;
   height: auto;
   float: left;
   margin-left: 20px;
  }
.hero1 h1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
}
.Goals h3 {
    display: flex;
    justify-content: center;
    flex-direction: row; 
}

.Goals p {
    display: flex;
    justify-content: center;
    margin: 30px;
}
#Goalheader {
    margin-top: 105px;
    font-size: 25px;
}



#img1{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#img2, #img3, #img4 {
    width: 100%;
    height: auto;
    margin: 5px;
    object-fit: cover;
    border-radius: 5px;
}

.class-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 105px;
    margin-bottom: 105px;
}

.card{
    width: 300px;
    background-color: #89c07e;
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
}


.card-container{
    
    padding: 20px;
    text-align: center;
} 

.card-content h3{
    font-size: 24px;
    
}

.card-content p{
    padding: 5px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-content .card-button{
    display: inline-block;
    padding: 8px 16px;
    background-color: #2a3f3f;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #e0e8e2;
    
    
}

footer {
    display: grid;
    bottom: 0;
    left: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 250px;
    width: 100vw;
    background-color: #2A3F3F;
    font-size: 14px;
}
/* top section of footer */
.top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.top a {
    text-decoration: none;
}
.top--images {
    display: flex;
    flex-direction: column;
    background-color: #2A3F3F;
    padding-left: 0;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}
#logo {
    width: 150px;
    margin: 0px;
}
.top--images--media img {
    width: 50px;
    margin: 0;
}
.top--images--creds img {
    width: 120px;
}
#charity-logo {
    margin-bottom: 0;
    margin-right: 1%;
}
#bbb-logo {
    margin-top: 10px;
}
.top--images--info {
    color: white;
    line-height: 14px;
    margin: 0px;
}
.top--images--info p {
    margin: 5px;
}
.top--links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2A3F3F;
}
.top--links a {
    margin: 15px;
    text-decoration: none;
    color: white;
}
.top--links__home,
.top--links__donate,
.top--links__aboutus,
.top--links__contactus {
    display: none;
}
/* bottom section of footer */
.bottom {
    display: flex;
    flex-direction: column;
    background-color: #2A3F3F;
    grid-row-start: 2;
    text-align: center;
    justify-content: center;
    color: white;
}
.bottom p {
    margin: 10px 0px;
}
.bottom hr {
    width: 95vw;
    margin-bottom: 15px;
}
/* phone screens */
@media screen and (max-width: 430px) {
    .form-container {
        grid-template-columns: 0 500px repeat(2, 0);
        grid-template-rows: 40px 1250px 0px;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    .form {
        display: flex;
        flex-direction: column;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: white;
        box-shadow: 5px 5px 10px #333;
        border: 1px solid #E0E8E2;
        z-index: 100;
        margin: 182px 0 0;
        overflow-x: hidden;
    }
    footer {
        margin-top: 0;
    }
    .tagline {
        margin: 20px 0px 12px;
        font-size: 12px;;
    }
}
@media screen and (min-width: 963px){
    footer {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 450px 250px;
        width: 100vw;
    }
    .top {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px 50px;
    }
    .top--links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 70px 1fr;
        grid-column-start: 2;
        grid-column-end: 4;
        align-items: baseline;
        margin-top: 50px;
        background-color: #2A3F3F;
        text-align: center;
        margin: 0px 5vw;
        margin-top: 2vw;
        max-width: 630px;
    }
    .top--links>a {
        max-width: 76px;
    }
    .top--links__home,
    .top--links__donate,
    .top--links__aboutus,
    .top--links__contactus {
        display: inline;
        text-align: left;
        line-height: 50px;
        font-size: 12px;
        max-width: 96px;
        margin-left: 10px;
    }
    .bottom {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
    }
    .bottom hr {
        margin-left: -17.5vw;
    }
}